.icon {
    height: 80px;
    width: auto;
    margin: 10px;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: darkgray;
}

.main_menu_mid {
    width: 600px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header nav {
    width: 100%;
}

header nav ul {
    display: flex;
    justify-content: space-around;
}

/*Index ---------------------------------------------------------------------------------------------*/
#index_main {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 300px 300px;
    grid-template-areas:
    "wwd"
    "bes"
    "coo";
}

#index_wwd {
    grid-area: wwd;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "image title"
    "image text_";
}

#index_bes {
    grid-area: bes;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "title image"
    "text_ image";
}

#index_coo {
    grid-area: coo;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "image title"
    "image text_";
}

.little_info img {
    grid-area: image;
    height: 100%;
}

.little_info h2 {
    grid-area: title;
}

.little_info p {
    grid-area: text_;
}
/*Index ---------------------------------------------------------------------------------------------*/

/*What we do ----------------------------------------------------------------------------------------*/
/*What we do shapes ---------------------------------------------------------------------------------*/
#what_we_do_quickinfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow-x: hidden;
}

.parallelogram {
    background: red;
    height: 500px;
    width: 15%;
    transition: width 0.5s;
	transform: skew(-10deg);
    overflow-x: hidden;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNOYIHnjzvx4v7U9IQc_m9O-DfIuj5us2hEg&usqp=CAU);
    background-repeat: no-repeat;
    background-size: 55vw;
}

.parallelogram ul {
    display: none;
}

.parallelogram_expanded {
    width: 50%;
}

.parallelogram_expanded ul {
    display: block;
}

.parallelogram div {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 35vw;
    transform: skew(10deg);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}
/*What we do shapes ---------------------------------------------------------------------------------*/
/*What we do ----------------------------------------------------------------------------------------*/

header li {
    list-style: none;
}

a {
    text-decoration: none;
    color: darkslategray;
}

