.icon {
    height: 80px;
    width: auto;
    margin: 10px;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: darkgray;
}

.main_menu_mid {
    width: 600px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main_menu nav {
    width: 100%;
}

.main_menu nav ul {
    display: flex;
    justify-content: space-around;
}

#what_we_do_quickinfo {
    display: flex;
    justify-content: space-between;
}

.parallelogram {
    background: red;
    height: 500px;
    width: 20%;
    margin: 0px 5px 0px 5px;
    position: relative;
	transform: skew(10deg);
}

.parallelogram:hover{
    width: 50%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: darkslategray;
}

